@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: url(https://images3.alphacoders.com/109/1091500.jpg);
}

#coming-soon-box {
    width: 400px;
    border: 5px solid black;
    position: absolute;
    margin: 20px;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://assets.rockpapershotgun.com/images/2019/08/Minecraft-shaders-1.14-Sildurs-Vibrant-Shaders.png);
    transition: width 1s ease-in-out;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -ms-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
}

#coming-soon-box:hover {
    width: 600px;
}